{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <div class="container">
        <h1 class="mt-3 mb-4">Products</h1>
        <div class="row">
            {{ form_start(form, {'attr': {'class': 'mt-4 p-4 bg-light'}}) }}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="https://via.placeholder.com/200x150" alt="{{ product.name }}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <div class="d-flex justify-content-between align-item-center">
                                <form class="mt-4 p-4 bg-light" method="post">
                                    <div class="form-group">
                                        <div class="form-group">
                                            {{ form_widget(attribute(form, 'quantity' ~ product.id)) }}
                                        </div>
                                    </div>
                                <span class="h5 mt-auto">{{ product.price }} €</span>
                            </div>
                        </div>
                    </div>
                </div><br><br>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
