{% extends 'base.html.twig' %}

{% block title %}Dashboard!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="example-wrapper">
        <h1>Below, the dashboard with clients' orders: ✅</h1>

        {% for order in orders %}
            <a href="https://127.0.0.1:8000/order/{{ order.uuid }}">{{ order.id }}<br>
            {{ order.totalSUM }}<br>
                {{ order.clientEmail }}<br>{{ order.totalSum }}</a><br><br>
        {% endfor %}
    </div>
{% endblock %}
